@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --font-family-primary: 'Plus Jakarta Sans', sans-serif;
    --font-family-secondary: "PT Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-secondary);
}

.material-symbols-rounded.active-icon {
    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
}