*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    overscroll-behavior: none;
    scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
    display: none;
}

ul,
ol {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    margin-left: 90px;
}

.container {
    position: relative;
    padding: 0 500px;
}

@media screen and (max-width: 2200px) {
    .container {
        padding: 0 400px;
    }
}

@media screen and (max-width: 1920px) {
    .container {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1560px) {
    .container {
        padding: 0 30px 0 80px;
    }
}

@media screen and (max-width: 620px) {
    main {
        margin-left: 0 !important;
    }

    .container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 461px) {
    .container {
        padding: 0 15px;
    }
}