.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    width: 200px;
    background: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity .3s ease, transform .3s ease;
    z-index: 3;
}

.dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu ul {
    list-style: none;
    text-align: center;
}

.dropdown-menu li {
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    transition: all .3s;
}

.dropdown-menu li,
.dropdown-menu li a {
    display: flex;
    align-items: center;
}

.dropdown-menu li:hover {
    background: rgba(0, 0, 0, .075);
}

.dropdown-menu li span {
    font-size: 22px;
    margin-right: 5px;
}

.dropdown-menu .delete a {
    color: #d92121;
}