.auth {
    background: var(--second-bg-color);
}

.auth h1,
.auth h2,
.auth h3 {
    font-family: var(--font-family-secondary);
}

.fixed-logo-left {
    position: fixed;
    top: 15px;
    left: 20px;
    height: 30px;
}

.auth main {
    display: grid;
    place-content: center;
    gap: 96px;
    grid-template-areas: "panel-left panel-right";
    height: 100vh;
}

.auth .auth-content {
    grid-area: panel-left;
}

.auth .auth-content h1 {
    color: var(--text-black-color);
    margin-bottom: 15px;
}

.auth .auth-content p {
    color: var(--text-light-color);
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}

.auth .auth-form {
    position: relative;
    grid-area: panel-right;
    background: white;
    border-radius: 8px;
    padding: 30px;
}

.auth .auth-form .auth-form-header {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background: white;
    z-index: 2;
}

.auth .auth-form .auth-form-header h3 {
    margin-bottom: 7px;
    color: var(--text-black-color);
    font-size: 20px;
    font-weight: 600;
}

.auth .auth-form .auth-form-header p a {
    color: var(--text-light-color);
    font-size: 14px;
    font-weight: 500;
}

.auth .auth-form .auth-form-header p a span {
    color: var(--main-bg-color);
}

.auth .auth-form .auth-form-body {
    height: calc(100% - 120px);
    overflow-y: scroll;
    padding: 5px 0;
}

.auth .auth-form-submit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    border-radius: 0 0 8px 8px;
    background: white;
}

@media (min-width: 1115px) {
    .auth main {
        place-content: center;
        grid-template-columns: repeat(2, minmax(auto, 440px));
        grid-template-rows: minmax(auto, 610px);
        -webkit-box-pack: center;
        padding: 64px 24px;
    }
}

@media screen and (max-width: 1115px) {
    .auth-content {
        display: none;
    }

    .auth main {
        grid-template-columns: minmax(auto, 440px);
        grid-template-rows: minmax(auto, 610px);
        grid-template-areas: "panel-right";
    }
}

@media screen and (max-width: 620px) {
    .auth main {
        grid-template-columns: minmax(auto, 100%);
        grid-template-rows: minmax(auto, 100%);
    }
}