.snackbar {
    visibility: hidden;
    position: fixed;
    top: 20px;
    right: 30px;
    padding: 16px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: leitlearn_fadein 0.5s, leitlearn_fadeout 0.5s 2.5s;
    animation: leitlearn_fadein 0.5s, leitlearn_fadeout 0.5s 2.5s;
}

.snackbar span {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-light-color);
    text-align: center;
}

@media screen and (max-width: 440px) {
    .snackbar {
        min-width: 300px;
    }
}